<!DOCTYPE html>
<html lang="en">
<head>
    <title>My First Web Page</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <h1>Index Page</h1>
  <div class="row mt-2">
    <div class="col-md-6">
      <h2>My First Web Page</h2>
      <form action="" method="POST">
        {% csrf_token %}

        {{ form }}

        <input type="submit" value="Submit">
    </div>
      <div class="col-md-8">
        <div class="container">
        <canvas id="MyChart" width="400" height="400"></canvas>
        <script>
        var ctx = document.getElementById('MyChart').getContext('2d');
        var MyChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for product in products %} '{{ product.category }}', {% endfor %}],
                datasets: [{
                    label: '# of Products',
                    data: [{% for product in products %} {{ product.num_products }}, {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99,  132, 0.2)',
                        'rgba(54,  162, 235, 0.2)',
                        'rgba(255, 206,  86, 0.2)',
                        'rgba(75,  192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159,  64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99,  132, 1)',
                        'rgba(54,  162, 235, 1)',
                        'rgba(255, 206,  86, 1)',
                        'rgba(75,  192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64,  1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
    </div>
    </div>
  </div>
</body>
</html>